* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #E5E5E5;
}

button {
    font-family: inherit;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: .5em;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    background-color: #fff;
    width: 70%;
    border-radius: .5em;
}

.header {
    margin: 2em;
    margin-bottom: .5em;
}

#color-form {
    display: flex;
    align-items: center;
}

#color-input {
    background-color: #fff;
    border-radius: 4px;
    width: 51px;
    height: 34px;
    margin-right: 1em;
}

#schemes {
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 0.5em 1em;
    margin-right: 1em;
}

#colors-container {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 100%;
}


.color {
    width: 20%;
    height: 60vh;
    background-color: aqua;
}

.col1 {
    background-color: #26C0F3;
}

.col2 {
    background-color: #EA526F;
}

.col3 {
    background-color: #070600;
}

.col4 {
    background-color: #F7F7FF;
}

.col5 {
    background-color: #4357AD;
}

#colors-hex {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1em;
}

.tooltip {
    visibility: hidden;
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
    background-color: yellow;
}

.hex {
    font-weight: bold;
}

.hex:hover {
    border-bottom: 3px solid yellow;
}

.hidden {
    visibility: visible;
}

@media (max-width: 555px) {
    .container {
        width: 100%;
    }
}